@import "~taro-ui/dist/style/components/action-sheet.scss";
.container{
  display: flex;
  flex-direction: column;
  height: 100%;
  border-top: 1px solid #eee;
  background: #F5F6F9;
  padding-top: 20px;
}
.self-info-view{
  margin-left: 40px;
  line-height: 80px;
  height:80px;
}
.self-info-text{
  font-family: PingFangSC-Regular;
  font-size: 28px;
  color: #333333;
}
.list-row-container{
  background: #fff;
}

.list-row-wrap{
  height:80px;
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
  border-bottom: 0.5px solid #eee;
  flex-direction: column;
  justify-content: center;
}
.address-info-wrap{
  height:80px;
  margin-right: 40px;
  margin-left: 40px;
  background: #fff;
  display: flex;
  border-bottom: 0.5px solid #eee;
  flex-direction: column;
  justify-content: center;
}
.address-info-container{
  background: #fff;
}
.detail-address-container{
  background: #fff;
}
.detail-address-textarea{
  padding-top: 18px;
  height:78px;
  margin-right: 40px;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.address-info-view{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.dist-name-text{
  font-size: 28px;
  font-family: PingFangSC-Regular;

  color: #333333;
}
.select-city-text{
  font-size: 28px;
  padding-left: 58px;
  font-family: PingFangSC-Regular;

  color: #666666;
}
.list-row-arrow{
  width: 14px;
  height: 26px;
}
.list-row-down{
  width: 26px;
  height: 14px;
}

.list-row-input-placeholder{
  font-size: 28px;
  font-family: PingFangSC-Regular;

  color: #666666;
}
.list-row-arrow{
  width: 14px;
  height:26px ;
}
.list-row-input{
  padding-left: 142px;
}
.list-row-input1{
  padding-left: 86px;

}
._list-row-input{
  padding-left: 86px;
}
.__list-row-input{
  padding-left: 58px;
  flex: 1;
}

.list-row-view{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.flex-between{
  flex:1;
  justify-content: space-between;
}
.list-row-text{
  font-size: 28px;
  font-family: PingFangSC-Regular;

  color: #333333;
}

.tip{
  font-size: 28px;
  font-family: PingFangSC-Regular;
  color: #3299FF;
  margin-left: 40px;
}
.tip-container{
  padding-top: 40px;
  padding-bottom: 12px;

}
.tip-view{
  display: flex;
  flex:1;
  padding-left: 40px;
  padding-right: 40px;
  //padding-right: 40px;
}
.tip-text{
  flex: 1;
  text-align: justify;
  //text-align-last:justify;
  text-justify: inter-ideograph;
  font-size: 24px;
  font-family: PingFangSC-Regular;
  color: #999999;
  line-height: 40px;
}
.footer{
  display: flex;
  flex:1;
  background: #F5F6F9;
  flex-direction: column;
  justify-content: flex-end;
}
.btn-submit-view{
  height: 80px;
  display: flex;
  background: #3299FF;
}
.btn-submit-text{
  font-size: 32px;
  font-family: PingFangSC-Regular;
  color: #FFFFFF;
  margin: auto;
}
.acc-info-view{
    margin-top: 40px;
    margin-left: 40px;
    background: #FFFFFF;
    margin-right: 40px;
    display:flex;
    border: 1px dashed rgba(50,153,255,17);
    border-radius: 40px;
    height:80px;
}
.acc-info-cancel{
  margin-top: 40px;
  margin-left: 40px;
  background: #FFFFFF;
  margin-right: 40px;
  display: flex;
  height: 80px;
  border: 1px dashed rgba(229,0,18,17);
  border-radius: 40px;
}
.acc-info-text{
   margin: auto;
  font-size: 32px;
  color: #3299FF;
  font-family: PingFangSC-Regular;
}
.acc-info-cancel-text{
  margin: auto;
  font-family: PingFangSC-Regular;
  font-size: 32px;
  color: rgba(229,0,18,16);
}
.acc-info-container{
  display: flex;
  margin-top: 20px;
  flex-direction: column;
}
.code-view{
  border: 1px dashed #3299FF;
  height: 64px;
  width: 184px;
}

