@import "~taro-ui/dist/style/components/modal.scss";
@import "~taro-ui/dist/style/components/button.scss";
@import "~taro-ui/dist/style/components/loading.scss";
.container-box{
  display: flex;
  flex-direction: column;
  //flex:1;
  position: relative;
  height: 100%;
  border-top: 1px solid #eee;
  background-color: #f5f6f9;

}
.main{
  background:#fff;

}
.list-row-bg{
  padding-left: 20px;
  padding-right: 20px;
  //background-size: cover;
  //background-image: url("../../../assets/home/Shadow.png");
}
.list-row{
    //padding-left: 30px;
  padding-left: 50px;
  background-size: cover;
  background-image: url("../../../assets/home/Shadow.png");
  display: flex;
  flex-direction: column;
  height: 224px;
  justify-content: center;
}
.description{
  margin-left: 30px;
}
.img{
  width: 202px;
  height:128px;
  border-radius: 10px;
}
.hospital-title{
  font-size: 32px;
  color: #333333;
}
.sub-title{
  font-size: 24px;
  color: #666666;
  margin-top: 2px;
}
.detail-address{
  margin-top: 22px;
  font-size: 24px;
  color: #999999;
}

.order-time{
  margin-top: 10px;
  font-size: 32px;
  color: #222222;
  margin-left: 40px;
}

.section {
  position: relative;
  padding:12px 40px 20px 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.prev{
  width: 16px;
  height:28.4px ;
  position: absolute;
  z-index: 9999;
  left:40px;
}
.next{
  width: 16px;
  height:28.4px;
  position: absolute;
  right:40px;

}
.scrollView{
  white-space: nowrap;

}
.wrap{
  display: inline-block;
  &_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 108px;
    height: 126px;
    background: inherit;
    background-color: transparent;
    border: none;
    border-radius: 10px;
    &_week{
      font-size: 28px;
      color: #666;
    }
    &_date{
      font-size: 28px;
      color: #666;
    }
    &_status{
      color: #666;
      font-size: 28px;
    }
  }
}
.am-wrap{
  height: 84px;
  padding-left: 40px;
  line-height: 84px;
  background: #F5F6F9;
}
.am{
  font-size: 32px;
  color: #222222;
}
.pm-wrap{
  padding-left: 40px;
  height: 84px;
  background: #F5F6F9;
  line-height: 42px;
}
.pm{
  font-size: 32px;
  color: #222222;
}
.combo{
  display: flex;
  padding-left: 40px;
  padding-right: 40px;
  flex-direction: column;
  justify-content: center;
  height: 108px;
}
.combo-item{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.title{
  font-size: 28px;
  color: #333333;
  text-align: center;
}
.price{
  font-size: 28px;
  color: #333333;
  text-align: center;
}
.btn-wrap{
  display: flex;
  width: 144px;
  height: 60px;
  background: #3299FF;
  border-radius: 30px;
}
.btn{
  margin: auto;
  font-size: 28px;
  color: #FFFFFF;
}
.bottom-wrap{
  height:80px;
  background: #3299FF;
  display: flex;

}
.footer{
  position: absolute;
  bottom:0;
  width: 100%;
}
.next-wrap{
  font-size: 32px;
  color: #FFFFFF;
}


