@import "~taro-ui/dist/style/components/modal.scss";
@import "~taro-ui/dist/style/components/button.scss";
@import "~taro-ui/dist/style/components/loading.scss";
.container{
  display: flex;
  flex-direction: column;
  flex:1;
  padding-top: 1px;
  background-color: #f3f3f7;
  &_header{
    position: relative;
    background-color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    background-image:url("../../../assets/home/shadow.png") ;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &_list_item{
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 194px;
      &_pic{
        margin-left: 20px;
        width:244px;
        height:154px;
        margin-right: 20px;
        border-radius: 10px;
      }
      &_desc{
        flex:1;
        display: flex;
        flex-direction: column;
        &_hospital{
          font-size:28px;
          color:#333;
          flex:1;
        }
        &_item{
          flex:1;
          font-size:26px;
          margin-top: 10px;
          color:#333;
        }
        &_address{
          flex:1;
          margin-top: 20px;
          font-size:24px;
          color:#BCBCBC;
        }
      }
    }
  }
}

.section {
  padding: 30px 20px 30px 20px;
  background-color: #fff;

  &_orderTime {
    font-size: 26px;
  }

}
.scrollview{
  margin-top: 20px;
  white-space: nowrap;
}
.wrap{
  display: inline-block;
  &_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 118px;
    height: 136px;
    background: inherit;
    background-color: transparent;
    border: none;
    border-radius: 7px;
    &_week{
      font-size: 26px;
      color: #333;
      line-height: 18px;
    }
    &_date{
      font-size: 26px;
      color: #666;
      line-height: 18px;
      margin-top: 20px;
    }
    &_status{
      color: #999;
      font-size: 26px;
      line-height: 18px;
      margin-top: 20px;
    }
  }
}
.footer{
  margin-top: 20px;
  flex:1;
  padding:0 20px 0 20px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  &_combo{
    padding:20px 0 20px 0;
  }
  &_comboList{
    display: flex;
    padding-left: 10px;
    padding-right: 20px;
    height: 104*2px;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(232, 232, 232, 1);
    border-radius: 10px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    &_leftLayout {
      display: flex;
      align-items: center;
        &_doctor{
          width: 174px;
          height: 172px;
          margin-right: 20px;
        }
        &_info{
          display: flex;
          flex-direction: column;
            &_title{
                color:#333;
              font-size: 26px;
            }
             &_itemList{
                display: flex;
                flex-direction: column;
               justify-content: center;
             }
              &_money{
                font-size: 26px;
                color: #3298ff;
              }
        }
    }

  }

}
.bottom_wrap{
  display:flex;
  justify-content:center;
  height:102px;
  align-items:center;
  background-color:rgba(50, 152, 255, 1);
}

.badge{
  position: absolute;
  bottom:21px;
  right:100px;
  background-color: yellow;
  width:60px;
  display: flex;
  border-radius: 30px;
  height:60px;
  z-index: 99;
  &_num{
    margin: auto;
  }
}
.choice{
  display: flex;
  width: 50px;
  height:50px;
  border-width: 1px;
  border-style: solid;
  border-color: #3298ff;
  border-radius: 25px;
  &_wrap{
    margin: auto;
    width:25px;
    background-color: #3298ff;
    height:25px;
    border-radius: 12.5px;
  }
}
.bg{
  position: absolute;
  left :0;
  right: 0;
  top:0;
  bottom: 0;
  margin: auto;
  z-index: -9999;
}
.payType{
  display: flex;
  flex-direction: column;
}
.payType_title{
  text-align: center;
  font-size: 26px;
  color: #666666;
}
.pay_row{
  display: flex;
  align-items: center;
  flex-direction: row;
}
.pay_row_top{
  margin-top: 20px;
}
.pay_row__top{
  margin-top: 40px;
}
.radio{
  display: flex;
  width: 30px;
  height:30px;
  border-width: 1px;
  border-style: solid;
  border-color: #3298ff;
  border-radius: 15px;
}
.radio_wrap{
  margin: auto;
  width: 16px;
  height:16px;
  border-radius: 8px;
  //background-color: #3298ff;
}
.radio_desc{
  margin-left: 10px;
  font-size: 26px;
}

.container_action{
  display: flex;
  flex-direction: row;
  flex:1
}
.cancel{
  display: flex;
  flex: 1;
  height:90px;
  &_text{
    font-size: 26px;
    margin: auto;
    color: #3298ff;
  }
}
.confirm{
  display: flex;
  flex: 1;
  background-color: #3399FF;
  height:90px;
  &_text{
    font-size:26px;
    margin: auto;
    color: white;
  }
}



