
.container{
  display: flex;
  height: 100%;
  flex-direction: column;
  background-color: #f3f7f7;
  border-top: 1px solid #eee;
  &_header{
    display: flex;
    height: 90px;
    background-color: #fff;
    align-items: center;
    &_location{
        display: flex;
        padding-left:40px;
        padding-right: 40px;
        align-items: center;
      &_marker{
        width:32px;
        height:40px;
        margin-right: 20px;
      }
      &_city{
        font-size: 28px;
        color: #333;
      }
    }
    &_wrap{
      flex:1;
      &_city{
        flex:1;
        background-color: transparent;
      }
    }
  }
  &_list_item{
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 194px;
    background-color: #fff;
    box-sizing: border-box;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #F1F1F1;
    border-bottom-width: 1px;
    border-bottom-style: solid;
   border-bottom-color:#F1F1F1;
    border-radius: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    &_pic{
      width:202px;
      height:128px;
      margin-right: 20px;
      border-radius: 10px;
    }
    &_desc{
      flex:1;
      display: flex;
      flex-direction: column;
        &_hospital{
          font-size:32px;
          color:#333;
          flex:1;
        }
        &_item{
          flex:1;
          font-size: 24px;
          color: #666666;
          margin-top: 2px;
        }
        &_address{
          flex:1;
          margin-top: 22px;
          font-size: 24px;
          color: #999999;
        }
    }
  }
}
