.container {
  display: flex;
  height: 100%;
  flex-direction: column;
  background-color: #f5f6f9;
  border-top: 1px solid #eee;
}
.header{
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  margin-bottom: 20px;
  padding-left: 40px;
  &_wrap{
    display: flex;
    flex-direction: row;
    align-items: center;
    &_avatar{
      width: 100px;
      height: 100px;
      border-radius: 50px;
    }
    &_username{
      font-size: 32px;
      font-family: PingFangSC-Regular;
      color: #333;
      margin-left: 28px;
    }
  }
}
.section{
  height:96px;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  border-bottom-width: 1px;
  border-bottom-style: solid;
 border-bottom-color:#EEE;
   &_wrap{
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     &_left{
       display: flex;
       align-items: center;
        &_list{
          width:48px ;
          height:48px ;
        }
       &_title{
         margin-left: 20px;
         font-size: 28px;
         font-family: PingFangSC-Regular;
         color: #333333;
       }
     }
     &_right{
       width:14px ;
       height:26.4px ;
     }
   }

}
