.container{
  display: flex;
  flex-direction: column;
  height: 100%;
  border-top: 1px solid #eee;
  background: #F5F6F9;
}
.self-info-view{
  margin-left: 40px;
  line-height: 80px;
  height:80px;
}
.self-info-text{
  font-size: 28px;
  color: #333333;
}
.list-row-container{
  background: #fff;
}

.list-row-wrap{
  height:80px;
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
  border-bottom: 0.5px solid #eee;
  flex-direction: column;
  justify-content: center;
}
.address-info-wrap{
  height:80px;
  margin-right: 40px;
  margin-left: 40px;
  background: #fff;
  display: flex;
  border-bottom: 0.5px solid #eee;
  flex-direction: column;
  justify-content: center;
}
.address-info-container{
  background: #fff;
}
.detail-address-container{
  background: #fff;
}
.detail-address-textarea{
  padding-top: 18px;
  height:80px;
  margin-right: 40px;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.address-info-view{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.dist-name-text{
  font-size: 28px;
  color: #333333;
}
.select-city-text{
  font-size: 28px;
  color: #666666;
}
.list-row-arrow{
  width: 14px;
  height: 26px;
}

.list-row-input-placeholder{
  font-size: 28px;
  font-family: PingFangSC-Regular;
  color: #666666;
}
.list-row-arrow{
  width: 14px;
  height:26px ;
}
.list-row-input{
  font-size: 14PX;
  color: #666666;
  padding-left: 142px;
}
._list-row-input{
  font-size: 14PX;
  color: #666666;
  padding-left: 86px;
}
.__list-row-input{
  font-size: 14PX;
  color: #666666;
  padding-left: 58px;
  flex: 1;
}

.list-row-view{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.flex-between{
  flex:1;
  justify-content: space-between;
}
.list-row-text{
  font-size: 28px;
  font-family: PingFangSC-Regular;
  color: #333333;
}

.tip{
  font-size: 28px;
  font-family: PingFangSC-Regular;
  color: #3299FF;
  margin-left: 40px;
}
.tip-container{
  padding-top: 20PX;
  padding-bottom: 10PX;

}


.tip-view{
  display: flex;
  flex:1;
  padding-left: 40px;
  padding-right: 40px;
  //padding-right: 40px;
}
.tip-text{
  flex: 1;
  text-align: justify;
  //text-align-last:justify;
  text-justify: inter-ideograph;
  font-size: 24px;
  font-family: PingFangSC-Regular;
  color: #999999;
  line-height: 40px;
}
.footer{
  display: flex;
  flex:1;
  background: #F5F6F9;
  flex-direction: column;
  justify-content: flex-end;
}
.btn-submit-view{
  height: 80px;
  display: flex;
  background: #3299FF;
}
.btn-submit-text{
  font-size: 32px;
  font-family: PingFangSC-Regular;
  color: #FFFFFF;
  margin: auto;
}
.code-view{
  border: 1px dashed #3299FF;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 184px;
}
.img-code{
  height: 60px;
  width: 180px;
}


.textarea-text{
  font-size: 14PX;
  color: #666666;
}

